<style>                                                                                               
table, th, tr, td{                                                                                    
        border: 1px solid black;                                                                      
        border-coplapse: collapse;                                                                    
}                                                                                                     
body{                                                                                                 
        background-color: rgb(100,75,200);                                                            
        color: rgb(90,235,150);                                                                       
}                                                                                                     
h1{
	background-color: rgb((190,90,200)
}
#info{
	background-color= rgb(20,70,120);
}
.highlight{
	color= rgb(70,130,170);
}
#showcase_animals{
	background-color: rgb(00,120,125)
}
</style>       
