<style>                                                                                               
table, th, tr, td{                                                                                    
        border: 1px solid black;                                                                      
        border-coplapse: collapse;                                                                    
}                                                                                                     
body{                                                                                                 
        background-color: rgb(100,75,200);                                                            
        color: rgb(90,235,150);                                                                       
}                                                                                                     
</style>       
